@import '../../globals.module.scss';

.Login{
  background-color: color('primary-dark');
  box-sizing: border-box;
  width: 100vw;
  height: 100vh; /* Fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100);
  display: grid;
  grid-template-columns: 1fr minmax(200px, 600px) 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "blank blank blank"
                       "blank2 form blank3"
                       "blank4 blank4 blank4";

  h1{
    color: white;
    text-align: center;
  }
  form{
    grid-area: form;
    background-color: color('primary');
    min-height: 80vh;
    border-radius: $radius;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: space-evenly;
    align-items: stretch;
    padding: 5em;

    input{
      background-color: color('primary-light');
      border:none;
      border-radius: 5px;
      padding: 1em;
      font-size: 1em;
      color: color('primary-lighter');
      outline: none;
    }

    input::placeholder{
      color:color('primary-lighter');
    }

    input[type="submit"]{
      @extend %button-primary,
    }

    div{
      display: flex;
      width: 100%;
      justify-content: stretch;
      input{
        width: 100%;
        border-radius: 5px 0px 0px 5px;
      }
      button{
        align-self: stretch;
        color: color('primary-lighter');
        background: color('primary-light');
        border:none;
        border-radius: 0px 5px 5px 0px;
        padding:10px;
      }
    }

  }

  &__password_visibility:hover{
    background-color: lighten($color: color('primary-light'), $amount: 5) !important ;
  }

  @media screen and (max-width:800px) {
    grid-template-columns: 1fr minmax(200px, 6fr) 1fr;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "form";
    form{
      padding: 2em;
    }
  }

}

