@import '../../globals.module.scss';

.Home{
    display: grid;
    grid-template-columns: minmax(100px,300px) 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "Panel Content";
    gap: 1.5em;
    padding: 2em 1.5em;
    box-sizing: border-box;
    
  height: 100vh; /* Fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100);

  @media screen and (max-width:1000px) {
    grid-template-areas: "Panel"
                         "Content";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
} 
