@use "sass:map";

$palette: (
  white: #FFFFFF,
  primary-dark:#38324E,
  primary: #413B61,
  primary-light:#736C95,
  primary-lighter:#B4B0C9,
  accent:#EB4887,
);

$radius: 10px;

@function color($colorName) {
  @return map-get($map: $palette, $key: $colorName)
}

%flexBoxCentered {
  display: flex;
  justify-content: center;
  align-items: center;
}

%button-primary{
  border: none;
  border-radius: $radius;
  background-color: color('accent');
  color: white;
}

%button-primary:hover{
  cursor: pointer;
  background-color: lighten($color: color('accent'), $amount: 5) ;
}



